<%= stylesheet_link_tag "nations_index", media: 'all', 'data-turbolinks-track': 'reload' %>
<h1>ネーションズリーグ投稿一覧</h1>
<h2 class="nations_post_page">投稿ページはこちらへ<span class="new"><%= link_to "投稿ページへ", "/nations_posts/new" %></h2>
<div class="comments">
    <div class="comment">
        <% @nations_posts.each do |nations_post| %>
    </div>
    <div class="post">
        <div class="title">
            <p class="title">タイトル</p>
            <section class="title"><%= nations_post.title %></section>
        </div>
        <div class="comments">
            <p class="comments">コメント</p>
            <section class="comments"><%= nations_post.text %></section>
        </div>
        <div class="image">
            <section class="image"><%= image_tag nations_post.image.url if nations_post.image? %></section>
            <div class="post_destroy">
            <%= link_to("投稿削除", nations_post_path(nations_post), {method: :delete} ) %>
            </div>
            <p class="user_name">ユーザー名 <%= link_to(nations_post.user.name, user_path(nations_post.user_id)) %></p>
            <% end %>
        </div>
    </div>
</div>