<%= stylesheet_link_tag "europe_index", media: 'all', 'data-turbolinks-track': 'reload' %>
<h1>ヨーロッパリーグ投稿一覧</h1>
<h2 class="europe_post_page">投稿ページはこちらへ<span class="new"><%= link_to "投稿ページへ", "/europe_posts/new" %></h2>
<div class="comments">
    <div class="comment">
        <% @europe_posts.each do |europe_post| %>
    </div>
    <div class="post">
        <div class="title">
            <p class="title">タイトル</p>
            <section class="title"><%= europe_post.title %></section>
        </div>
        <div class="comments">
            <p class="comments">コメント</p>
            <section class="comments"><%= europe_post.text %></section>
        </div>
        <div class="image">
            <section class="image"><%= image_tag europe_post.image.url if europe_post.image? %></section>
            <div class="post_destroy">
            <%= link_to("投稿削除", europe_post_path(europe_post), {method: :delete} ) %>
            </div>
            <p class="user_name">ユーザー名 <%= link_to(europe_post.user.name, user_path(europe_post.user_id)) %></p>
            <% end %>
        </div>
    </div>
</div>
<%= will_paginate %>