<% provide(:title, @title) %>
<%= stylesheet_link_tag "show_follow", media: "all", 'data-turbolinks-track': "reload" %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @user.name %></h1>
      <span><%= link_to "プロフィールへ", @user %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
      <% if @users.any? %>
          <% @users.each do |user| %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="follow_info">
    <h3 class="title"><%= @title %></h3>
  <% if @users.any? %>
      <section class="users_follow">
        <%= render @users %>
      </section>
      <%= will_paginate %>
    <% end %>
  </div>
</div>