<%= stylesheet_link_tag "premera_index", media: 'all', 'data-turbolinks-track': 'reload' %>
<h1>プリメーラ投稿一覧</h1>
<h2 class="premera_post_page">投稿ページはこちらへ<span class="new"><%= link_to "投稿ページへ", "/premera_posts/new" %></h2>
<div class="comments">
    <div class="comment">
        <% @premera_posts.each do |premera_post| %>
    </div>
    <div class="post">
        <div class="title">
            <p class="title">タイトル</p>
            <section class="title"><%= premera_post.title %></section>
        </div>
        <div class="comments">
            <p class="comments">コメント</p>
            <section class="comments"><%= premera_post.text %></section>
        </div>
        <div class="image">
            <section class="image"><%= image_tag premera_post.image.url if premera_post.image? %></section>
            <div class="post_destroy">
            <%= link_to("投稿削除", premera_post_path(premera_post), {method: :delete} ) %>
            </div>
            <p class="user_name">ユーザー名 <%= link_to(premera_post.user.name, user_path(premera_post.user_id)) %></p>
            <% end %>
        </div>
    </div>
</div>
<%= will_paginate %>