<%= stylesheet_link_tag "bundesu_index", media: 'all', 'data-turbolinks-track': 'reload' %>
<h1>ブンデスリーガ投稿一覧</h1>
<h2 class="bundesu_post_page">投稿ページはこちらへ<span class="new"><%= link_to "投稿ページへ", "/bundesu_posts/new" %></h2>
<div class="comments">
    <div class="comment">
        <% @bundesu_posts.each do |bundesu_post| %>
    </div>
    <div class="post">
        <div class="title">
            <p class="title">タイトル</p>
            <section class="title"><%= bundesu_post.title %></section>
        </div>
        <div class="comments">
            <p class="comments">コメント</p>
            <section class="comments"><%= bundesu_post.text %></section>
        </div>
        <div class="image">
            <section class="image"><%= image_tag bundesu_post.image.url if bundesu_post.image? %></section>
            <div class="post_destroy">
            <%= link_to("投稿削除", bundesu_post_path(bundesu_post), {method: :delete} ) %>
            </div>
            <p class="user_name">ユーザー名 <%= link_to(bundesu_post.user.name, user_path(bundesu_post.user_id)) %></p>
            <% end %>
        </div>
    </div>
</div>