<title>ヨーロッパサッカー掲示板</title>
<%= stylesheet_link_tag 'column', media: 'all', 'data-turbolinks-track': 'reload' %>
<table>
    <tr class="laliga">
        <td><%= link_to("ラ・リーガ", "/laliga_posts/", {class: "tbl"}) %></td>
    </tr>
    <tr class="bundesu">
        <td><%= link_to("ブンデスリーガ", "/bundesu_posts/", {class: "tbl"}) %></td>
    </tr>
    <tr class="premier">
        <td><%= link_to("プレミアリーグ", "/premier_posts/", {class: "tbl"}) %></td>
    </tr>
    <tr class="serieA">
        <td><%= link_to("セリエA", "/serie_posts/", {class: "tbl"}) %></td>
    </tr>
    <tr class="league_one">
        <td><%= link_to("リーグアン", "/league_one_posts/", {class: "tbl"}) %></td>
    </tr>
    <tr class="eredivie">
        <td><%= link_to("エールディビジ", "/eredivisie_posts/", {class: "tbl"}) %></td>
    </tr>
    <tr class="jupiler">
        <td><%= link_to("ジュピラーリーグ", "/jupiler_posts/", {class: "tbl"}) %></td>
    <tr class="premera">
        <td><%= link_to("プリメーラリーガ", "/premera_posts/", {class: "tbl"}) %></td>
    </tr>
    <tr class="scotish">
        <td><%= link_to("スコティッシュプレミアリーグ", "/scotish_posts/", {class: "tbl"}) %></td>
    </tr>
     <tr class="champions">
        <td><%= link_to("チャンピオンズリーグ", "/champions_posts/", {class: "tbl"}) %></td>
    </tr>
        <tr class="euro">
        <td><%= link_to("ヨーロッパリーグ", "/europe_posts/", {class: "tbl"}) %></td>
    </tr>
    <tr class="euro">
        <td><%= link_to("UEFAユーロ", "/euro_posts/", {class: "tbl"}) %></td>
    </tr>
    <tr class="nations_league">
        <td><%= link_to("ネーションズリーグ", "/nations_posts/", {class: "tbl"}) %></td>
    </tr>
</table>