<%= stylesheet_link_tag "contact_new", media: 'all', 'data-turbolinks-track': 'reload' %>
<h1 class="inquiry">要望、お問い合わせ</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_with model: @contact ,url: contacts_create_path do |f| %>
        <%= f.label :email, '返信先メールアドレス', class: "response" %>
        <%= f.text_field :email, class: 'form-control' %>

        <%= f.label :message, 'お問い合わせ内容', class: "detail_contact" %>
        <%= f.text_area :message, class: 'form-control' %>
        <%= f.submit '送信', class: "btn btn-primary" %>
        <% end %>
    </div>
</div>